.cricbuzz__home{
    width: 90%;
    height: auto;
    /* border: 2px solid red; */
    margin-left: 5rem;
    margin-top: 1rem;
}

.cricbuzz__featured{
    height: 165px;
    margin-left: 1rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    /* border: 2px solid blue; */
    
}

.heading__feature{
    color: #009270;
    margin-left: 1rem;
    /* margin-top: 1rem; */
}

.cricbuzz__featured__main{
    /* border: 2px solid green; */
    width: 15%;
    height: 60%;
    margin-bottom: 3rem;
}

.cric__show{
    display: flex;
    justify-content: space-evenly;
    /* margin-bottom: 5rem; */
}

.cricbuzz__fetured__teamone{
    /* border: 2px solid black; */
    width: 98%;
    height: 35%;
    display: flex;
    justify-content: space-between;
}

.cricbuzz__featured__firstcountry{
    /* border: 2px solid teal; */
    width: 40%;
    height: 98%;
}

.cricbuzz__featured__firstcountry__score{
    /* border: 2px solid blue; */
    width: 40%;
    height: 98%;
}
.cricbuzz__fetured__teamtwo{
    /* border: 2px solid black; */
    width: 98%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.cricbuzz__featured__secondcountry{
    /* border: 2px solid teal; */
    width: 40%;
    height: 98%;
}

.cricbuzz__featured__secondcountry_score{
    /* border: 2px solid red; */
    width: 40%;
    height: 98%;
}

.cricbuzz__featured__stauts{
    margin-top: 1rem;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    color: gray;
}

.cricbuzz__news{
    /* border: 2px solid teal; */
    /* width: 90%; */
    height: 1000px;
    margin-left: 1rem;
    margin-top: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cricbuzz__listCard{
    height: 300px;
    width: 560px;
    /* border: 2px solid red; */
    margin-top: 4rem;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    /* justify-content: space-around; */
    gap: 10rem;

}

.listcard__head{
    display: flex;
    justify-content: space-between;
    
}
.listcard__main{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 560px;
    height: 300px
}

.country__info{
    /* border: 2px solid green; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.date{
    text-align: center;
    
}

.countryonename__and__img{
    display: flex;
    gap: 1rem;
}

.countrytwoname__and__img{
    display: flex;
    gap: 1rem;
}

.verses img{
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
}

.countryone__img img{
    width: 50px;
    height: 50px;
    margin-top: 0.7rem;
}

.countrytwo__img img{
    width: 50px;
    height: 50px;
    margin-top: 0.7rem;
}

.country__scorecard{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.status{
    margin-left: 0.4rem;
    color: #009270;
    margin-top: 1rem;
}